In [2]:
n = input("Enter n : ")

Enter n :  5

In [2]:
name="Omkar"
a=5
b=6.5
print("name")
print(name)
print(a)
print(a+b)

sub = b-a
print(sub)

name
Omkar
5
11.5
1.5

In [3]:
print(type(name))
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>
<class 'float'>

In [24]:
var1 = int(input("Enter first no. : "))
var2 = int(input("Enter second no. : "))

Add = var1 + var2
print(Add)

Enter first no. :  6
Enter second no. :  7

13

In [23]:
item = input("Enter item:")
id = int(input("Enter id:"))
Price = float(input("Price:"))
print("Item is",item,"with ID ",id,"and price is",Price)

Enter item: Parle
Enter id: 56
Price: 2.33

Item is Parle with ID  56 and price is 2.33

In [32]:
marks = int(input("Enter Marks :"))
if (marks >= 90):
    print("A")
elif(marks>=65 and marks <90):
    print("B")
elif(marks>=40 and marks <65):
    print("C")
else:
    print("D")

Enter Marks : 75

B

In [40]:
#conditional statements
#Single line IF / Ternary Operator ---  <var> = <value1> if <condition> else <Value2>

# food = input("Enter food")
# eat = "Yes" if food == "cake" else "no"
# print(eat)

# <statement1> if <condition> else <statement2>

food1 =input("Enter food")
print("sweet") if food == "cake" or food == "jalebi" else print("not sweet")

Enter food klk

not sweet

In [47]:
a= 4
b= 6
print("AND Operation :", (a>b) and (a>b))

print("OR Operation :", (a>b) or (a<b))

AND Operation : False
OR Operation : True

In [49]:
#Type conversion
side = int(input("ENTER sq side:"))
print("area:", side**2)

ENTER sq side: 5

area: 25

In [63]:
str1= "this is string"
str2='this is also str'
str="""this is also string"""

In [64]:
len(str1)

#index
#Omkar
#01234

#negative index
#omkar
#-5-4-3-2-1

chr = str[0]
chr

# we connot replace char in string like this .... str [3] = "@"

't'

In [76]:
#slicing

str = "Apna college"
a= str[1:5]
a

'pna '

In [80]:
print(str[:4])
print(str[5:])
print(str[7:len(str)])

print(str[-4])
print(str[-3:-1])

Apna
college
llege
l
eg

In [92]:
#string functions

str= "stufying python"

str.endswith("on") # eturn true if string ends with substr
str.capitalize() # Capitalize 1st char
str.replace("stufying","studying") # Replaces new occurances with old
str.find("o") #gives index
str.count("t") # counts occurances of substr

2

In [103]:
#nesting
age = int(input("Age:"))

if (age>=18):
    if (age>=80):
        print("Cannot drive")
    else:
        print("Can drive")
else:
    print("not eligible")

Age: 14

not eligible

In [109]:
num = int(input("Enter number:"))
if(num%2==0):
    print("even")
else:
    print("Odd")

Enter number: -1

Odd

In [127]:
a= int(input("Enter first no.:"))
b= int(input("Enter sec no.:"))
c= int(input("Enter thir no.:"))
d = []
if(a>b and a>c):
    print(a)
elif(b>a and b>c):
    print(b)
elif(b<c and c>a):
    print(c)
else:
    print("input whole number")

Enter first no.: 9
Enter sec no.: 2
Enter thir no.: 13

13

In [133]:
n = int(input("Enter num:"))
if(n%7==0):
    print("divisible by 7")
else:
    print("not divisible")

Enter num: 56

divisible by 7

In [163]:
# List and Tupple
#list is mutable and srting in immutable

a1=4
a2=8
a3=9
a4=6
a5=2

a =[4,8,9,6,2]
a[0]

a[2]=12

b=["Omkar",45,"ok",66]

#index[0,1,2,2]
#index[-4,-3,-2,-1]

b[0]
print(a)

[4, 8, 12, 6, 2]

In [158]:
b[3]

print(b[1:3])

[45, 'ok']

In [159]:
#List Method

list.append() #adds one elmement at the end
list.sort() #sort in ascending order
list.sort(reverse = True) #sort in descending order
list.reverse() #reverse list
list.insert(index, element) # inserts element at indec
list.remove(1) #removes first occurrence of elements
list.pop(index) #remeove element at index
.
.
.
.

SyntaxError: invalid syntax (148579195.py, line 10)

In [182]:
#Tuples - A built in data type that lets us create immutable sequences if values.... we us round bracket tuple = ()

#tup=() 

tup = (1)
print(type(tup))

tupp = (1,)           #single element should be with ,
print(type(tupp))

tuple =(5,2,5,4,2,6)
print(tuple[1])

print(tuple.index(2)) # number 2 occurs on 1st index
print(tuple.count(2))

<class 'int'>
<class 'tuple'>
2
1
2

In [181]:
#Tuple methods \

tup.index(element) #returns index of first occurence
tup.count(element) #counts total occurence

AttributeError: 'int' object has no attribute 'index'

In [187]:
# a=[]
# n=input("1st fav movie:")
# a.append(n)
# n=input("2nd fav movie:")
# a.append(n)
# n=input("3rd fav movie:")
# a.append(n)
# print(a)

a=[]
a.append(input("1st fav movie:"))
a.append(input("2nd fav movie:"))
a.append(input("3rd fav movie:"))
print(a)

1st fav movie: gg
2nd fav movie: hh
3rd fav movie: jj

['gg', 'hh', 'jj']

In [191]:
# n=input("Enter pallindrome:")
# n_copy= n.copy()  #string in immutable hence not correct
# n_copy.reverse 

# if(n==n_copy):
#     print("Palindrome")
# else:
#     print("not palindrome")

n = input("Enter a palindrome: ")
n_copy = n[::-1]  # Reverse the string using slicing

if n == n_copy:
    print("Palindrome")
else:
    print("Not palindrome")

Enter a palindrome:  klklk

Palindrome

In [193]:
n = [1,2,1,2,1,2,1,2]
copy_n = n.copy()
copy_n.reverse()

if (n==copy_n):
     print("Palindrome")
else:
    print("Not palindrome")

Not palindrome

In [201]:
tup = ('c','b','a','a','a','b')
print(tup.count('a'))
n=len(tup)
a=[]
for i in range(0,n):
    a.append(tup[i])

a.sort()
print(a)

3
['a', 'a', 'a', 'b', 'b', 'c']

In [215]:
#Dictionary -- it is use to store data values in key:value pairs --- they are unordered, mutable,and dont allow duplicate keys

info = {
    "name" : "Omkar",
    "BE" : "Mechanical",
    "ME" : "Design",
    "Job" : " Mech" ,
    "sub" : ["Python","PowerBI","SQL"],
    12.55 : 55
}
#print(info)

print(info["name"])

info["job"]="Data"
print(info["job"])

info["city"] = "Mumbai"

print(info)

Omkar
Data
{'name': 'Omkar', 'BE': 'Mechanical', 'ME': 'Design', 'Job': ' Mech', 'sub': ['Python', 'PowerBI', 'SQL'], 12.55: 55, 'job': 'Data', 'city': 'Mumbai'}

In [217]:
#Null dict

null_dic = {}

null_dic["NAME"] = "Om"
print(null_dic)

{'NAME': 'Om'}

In [229]:
#NEsted dict

info = {
    "name":"Omkar",
    "Subject": {
                "Phy":"84",
                "Chem":"78"
               },
    "City":"MUMBAI"
}

# print(info)

print(info["Subject"]["Chem"])

info.update({"state":"MH"})

print(info)

78
{'name': 'Omkar', 'Subject': {'Phy': '84', 'Chem': '78'}, 'City': 'MUMBAI', 'state': 'MH'}

In [ ]:
#dictionary methods

myDict.keys() #returns all keys
myDict.values() #returns all values
myDict.items() #returns all (key,Val) pairs as tuples
myDict.get("key") #returns the key accordingto values --- returns none value if key does not exists
myDict.update({newDict}) #inserts the specified items to the dictiionary

In [ ]:
#SETS in python
#SETS is collection of unorederd items---SETS is Mutable --- each element in the SET must be unique and immutable--- we can store int,float,Tuple etc 
# but cannot store :LIST and DICTIONALRY

#repeated elements is stored only once... eg. set = {1,2,2} ----but its is stored as {1,2}

In [235]:
collect = {1,2,"omkar",2,1,5}

print(collect)
print(type(collect))
print(len(collect))

# empty_set = set()

{1, 2, 5, 'omkar'}
<class 'set'>
4

In [ ]:
# SET METHODS

set.add(element) #add an element
set.removes(ele) #removes the element
set.clear() #empties the set
set.pop() # removes a randome value

set.union(set2)
set.intersection(set2)

In [245]:
colle = set()

colle.add(1)
colle.add(2)
colle.add(1)
colle.add("omkar")
colle.add((55,44,66,55))
colle.add(7)

# colle.add([1,2,3]) --- cannot add list since it is immutable

print(colle)

colle.remove(7)
print(colle)

colle.pop()
print(colle)

{1, 2, 'omkar', 7, (55, 44, 66, 55)}
{1, 2, 'omkar', (55, 44, 66, 55)}
{2, 'omkar', (55, 44, 66, 55)}

In [246]:
colle.pop()
print(colle)

{'omkar', (55, 44, 66, 55)}

In [248]:

print(colle.pop())

(55, 44, 66, 55)

In [251]:
set1 = {1,2,3,4,4}
set2 = {1,2,5,9,8,7}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 7, 8, 9}
{1, 2}

In [255]:
Meaning = {
    "table":["a piece of furntiture","list of facts and figure"],
    "cat":"animal"
}

print(Meaning)

{'table': ['a piece of furntiture', 'list of facts and figure'], 'cat': 'animal'}

In [265]:
sub ={"python","java","c","python","c","javascript"}
print(len(sub))

4

In [270]:
emp_dic = {}

phy = int(input("Enter phy marks: "))
emp_dic.update({"phy marks": phy})

che = int(input("Enter che marks: "))
emp_dic.update({"che marks": che})

maths = int(input("Enter maths marks: "))
emp_dic.update({"maths marks": maths})

print(emp_dic)

Enter phy marks:  7
Enter che marks:  5
Enter maths marks:  96

{'phy marks': 7, 'che marks': 5, 'maths marks': 96}

In [275]:
value = {9,9.0}
print(value)

values = {("float",9.0),("int",9)}
print(values)

{9}
{('float', 9.0), ('int', 9)}

In [280]:
#Loops in python
# Loops are use to repeat instructions

count = 1
while count <=5:
    print(count)
    count+=1

i = 10
while i>=1:
    print(i)
    i-=1

1
2
3
4
5
10
9
8
7
6
5
4
3
2
1

In [282]:
n= int(input("N:"))
i=1
while i<=10:
    print(n*i)
    i+=1

N: 5

5
10
15
20
25
30
35
40
45
50

In [296]:
a=[1,2,3,1,4,5,5]
i=0
while i<=len(a)-1:
    print(a[i])
    i+=1

1
2
3
1
4
5
5

In [303]:
a=(1,2,3,4,5,6,7,8,9,10)

n=int(input("Enter a no between 1-10:"))
i=0
while i<=len(a)-1:
    if a[i]==n:
        print("index:",i)   
    i+=1

Enter a no between 1-10: 5

index: 4

In [307]:
#Keyword--BREAK---CONTINUE(acts as skip)

# a=[1,2,3,1,4,5,5]
# i=0
# while i<=len(a)-1:
#     if i==3:
#         break
#     print(a[i])
#     i+=1

a=[1,2,3,1,4,5,5]
i=0
while i<=len(a)-1:
    if i==3:
        i+=1
        continue
    print(a[i])
    i+=1

1
2
3
4
5
5

In [309]:
#FOR LOOP ---Loops are used for sequential traversal for traversing list,string,tuples etc

veggies =["potato","brinjal","ladyfinger","cucumber"]

for i in veggies:
    print(i)

str = "omkar"

for i in str:
    print(i)

potato
brinjal
ladyfinger
cucumber
o
m
k
a
r

In [311]:
str = "omkar"

for i in str:
    print(i)
else:
    print("end")

o
m
k
a
r
end

In [12]:
#range function returns a sequence of numbers,string,from 0 by default and increments by 1(default) and stop before specified number

a= (7,5,4,8,5,2,3)
x= 3
for i in range(len(a)):
    if a[i]==x:
        print("Number found at index:",i)

Number found at index: 6

In [20]:
# for i in range(5):
#     print (i)

# for i in range(1,6):
#     print(i)

for i in range(1,6,2):
    print(i)

1
3
5

In [37]:
n=int(input("enter n:"))
m=n
for i in range(1,n):
    m = m*i
print(m)

enter n: 6

720

In [26]:
#Functions ---

def sum(a,b):
    print("sum :",a+b)

In [27]:
sum(4,3)

sum : 7

In [28]:
def mul(a,b):
    return a*b
print(mul(4,4))

16

In [32]:
def mul(a,b):
    return a+b
a= int(input("1st no:"))
b= int(input("2nd no: "))
print(mul(a,b))

1st no: 6
2nd no:  5

11

In [36]:
inr = int(input("Enter inr:"))

def convert(inr):
    inr = inr*85
    return inr
print(convert(inr))

Enter inr: 1

85

In [46]:
n = int(input("Enter n:"))
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    print(fact)
fact(n)

Enter n: 6

720

In [42]:
a= [1,3,2,5]
def cal(a):
    for i in a:
        print(i,end=" ")

cal(a)

1 3 2 5

In [41]:
a= [1,3,2,5]
def cal(a):
    print(len(a))

cal(a)

4

In [52]:
def odd(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

odd(10)

even

In [58]:
# Recursion

def show(n):
    if(n==0):
        return   #(BASE CASE) important to mention condition to stop infinaite loop
    print(n)
    show(n-1)
    print("end")

show(4)

4
3
2
1
end
end
end
end

In [59]:
def fact(n):
    if (n==0 or n==1):
        return 1      #(BASE CASE) important to mention condition to stop infinaite loop
    return n* fact(n-1)
fact(4)

24

In [1]:

def sof(a):
    if (a==0):
        return 0    #(BASE CASE) important to mention condition to stop infinaite loop
    return sof(a-1) + a

print(sof(5))

15

In [72]:
# a=[1,2,3,4,56,7]

# def list(a):
#     for i in range(len(a)):
#         if a[i] < 0:
#             return 
#         print(a[i])
# list(a)

# use recurrsive function

a=[1,2,3,4,56,7]
i=0
def list(a):
    for i in range(len(a)):
        print(a[i])   
list(a)

1
2
3
4
56
7

In [77]:
a=[1,2,3,4,56,7]

def fun(a,i=0):
    if i==len(a):
        return  #(BASE CASE) important to mention condition to stop infinaite loop
    print(a[i])
    fun(a,i+1)

fun(a)

1
2
3
4
56
7

In [91]:
#File I/O 

f = open("sample.txt","r")

# f.read()

dt = f.read()
print(dt)

f.close()

this is first
python example
ok

In [ ]:
"""
'r' open for reading(default)
'w' open for writing, truncating the file first
'x' create a new file and open it for writing
'a' open for writing , appending to the end of the file if it exists
'b' binary mode
't' text mode(default)
'+' open a disk file for updating (reading and writing)

data = f.read()  # read entire file
data = f.reading() # reads one line at a time

"""

In [92]:
f = open("sample.txt","r")
dt = f.read(5)
print(dt)

this

In [95]:
f = open("sample.txt","r")
line1 = f.readline()
print(line1)

# there is hidden \n in the text file that python read after end of each line thats why we have sapce after first line

this is first

In [96]:
line1 = f.readline()  # here after reading line1 in above code pointer is at end of the line i.e on second line thats why wehn we readline it gives second line
print(line1)

python example

In [118]:
f = open("sample.txt","r")
dt=f.read()
print(dt)

line1 = f.readline()
print(line1)

# here once file is read once i.e print(dt) then it does not read line1 or line2 becasue once file is read the pointer is at last so it does not re-read the lines

I want to performe write operation on it

In [117]:
#writing to a file

# write mode overwrites data # append datat add to last 

f =open("sample.txt","w")
f.write("I want to performe write operation on it")
f.close()

# if file does not exist then it creates new automatically

In [119]:
f = open("sample.txt","r")
dt=f.read()
print(dt)

line1 = f.readline()
print(line1)

I want to performe write operation on it

In [120]:
f =open("sample.txt","a")
f.write("and append data into it")
f.close()
# if file does not exist then it creates new automatically

In [121]:
f = open("sample.txt","r")
dt=f.read()
print(dt)

line1 = f.readline()
print(line1)

I want to performe write operation on itand append data into it

In [127]:
f =open("sample2demo.txt","w")
f.write("I want to performe write operation on it")
f.close()

# if file does not exist then it creates new automatically

In [124]:
#use stackoverflow to learn more about r+, w+ etc

f = open("sample2.txt","r+") #the pointer is at start of the string so it wil replace first 3 character'I w' and now pointer is at ant so it will read from there
f.write("abc")
print(f.read())
f.close()

ant to performe write operation on it

In [125]:
f = open("sample2.txt","w+") #it will truncate the file i.e delte the content of the file and re write if we want
f.read()
f.write("W+ tutorial")
print(f.read())
f.close()

In [126]:
f = open("sample2.txt","a+") #it will not truncate but add to the content
f.read()
f.write("\na+ tutorial")
print(f.read())
f.close()

In [129]:
# WITH SYNTAX

with open("demo.txt","r") as f:
    data = f.read()
    print(data)

I want to performe write operation on it

In [132]:
with open("demo.txt","w") as f:
    f.write("New with function")

In [133]:
#deleting a file -- we use modele OS

import os
os.remove("demo.txt")

In [140]:
f = open("newfile.txt","w")
f.write("hi all\nwe are learning java\nusing videos of java")

48

In [141]:
with open("newfile.txt","r+") as f:
    data = f.read()
    print(data)

hi all
we are learning java
using videos of java

In [142]:
new_data = data.replace("java","python")
print(new_data)

hi all
we are learning python
using videos of python

In [143]:
with open("newfile.txt","w") as f:
    data = f.write(new_data)
    print(data)

52

In [ ]:

#goit from stackoverflow
with open(r'myfile.txt', 'r') as fp:
    # read all lines using readline()
    lines = fp.readlines()
    for row in lines:
        word = 'Line 3'                               # check if string present on a current line
        if row.find(word) != -1:
            print('string exists in file')
            print('line Number:', lines.index(row))                                              #print(row.find(word))
                                                      # find() method returns -1 if the value is not found,
                                                      # if found it returns index of the first occurrence of the substring

In [146]:

def find_word():
    word = "learning"
    with open("newfile.txt","r") as f:
        data = f.read()
        if data.find != -1:  #if (word in data):    # find() method returns -1 if the value is not found
            print("found",word)
        else:
            print("not found")
        
find_word()

found learning

In [154]:
def check_word():
    word = "ok"
    line_no = 1
    data = True
    with open("newfile.txt","r") as f:
        while data:
             data = f.readline()
             if (word in data):
                print(line_no)
                return
             line_no +=1
    return -1

check_word()

-1

In [164]:
n = input("word:")
def check_line(n):
    line_no = 1
    data = True     # to define data true it will run till we have some data in the text file
    with open("newfile.txt","r") as f:
        while data:
            line = f.readline()
            if(n in line):
                print(line_no)
                return
            else:
                line_no += 1
        return -1

check_line(n)

word: hi

1

In [170]:
with open("demo2.txt","w") as f:
    data = f.write("1,2,3,4,5,6,7,8,9,10")
    print(data)

20

In [191]:
count =0
with open("demo2.txt","r") as f:
    data = f.read()
    num = data.split(",")  # split the string with deliniter comma
    for val in num:
        if(int(val) % 2 == 0):  # convert val into int
            count += 1

print(count)

5

In [192]:
# OOP (Object oriented programming)

class car:
    color = "blue"
    brand = "tata"

car1 = car()
print(car.color)
print(car.brand)

blue
tata

In [194]:
# constructor  _init_() ----
class student:
    def __init__(self):
        print("adding new student")

s1 = student()

adding new student

In [199]:
class student:
    def __init__(self,name1,marks1):
        self.name = name1                        #data stored inside the class is called attributes
        self.marks = marks1
        print("Welcome",self.name)

stud1 = student("om","99")
stud2 = student("kar","98")

Welcome om
Welcome kar

In [201]:
class student:
    def __init__(self,name1,marks1):
        self.name = name1                        #data stored inside the class is called attributes
        self.marks = marks1

stud1 = student("om","99")
print(stud1.name,stud1.marks)

stud2 = student("kar","98")

om 99

In [ ]:
class student:

    def _init__(self):                 # defalut construcutor
        pass
    
    def __init__(self,name1,marks1):    #parameterized constructors----
        self.name = name1                        
        self.marks = marks1

stud1 = student("om","99")
print(stud1.name,stud1.marks)

In [205]:
#class and instance attributes ----Class is common attributes and instance attributes is different for every class

class student:
    college_name="ABC" #class attribute ---common for all objects
    def __init__(self,name1,marks1):
        self.name = name1                   #instance attribute
        self.marks = marks1

stud1 = student("om","99")
print(stud1.name,stud1.marks,stud1.college_name)

stud2 = student("kar","98")
print(stud2.name,stud2.marks,stud2.college_name)

om 99 ABC
kar 98 ABC

In [209]:
#Class has attribute and methods

class student:
    college_name="ABC"                     #class attribute ---common for all objects
    def __init__(self,name1,marks1):       #constructor
        self.name = name1                   #instance attribute
        self.marks = marks1
    def welcome(self):                       #method
        print("Welcome",self.name)
    def get_marks(self):                      #method
        print(self.marks)
        

s1 = student("om",55)   #defining object

#calling
s1.welcome()
s1.get_marks()

Welcome om
55

In [213]:
class stud():
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
    def get_avg(self):
        sum = 0
        for val in self.marks:
            sum += val
        print("Hi",self.name,"Your avg marks:",sum/3)

s1 = stud("Omkar",[84,78,65])  # defining object 

s1.get_avg()  #calling

Hi Omkar Your avg marks: 75.66666666666667

In [215]:
s1 = stud("Rahul",[84,78,65])  
s1.get_avg()  # we can change the name or any attributes

Hi Rahul Your avg marks: 75.66666666666667

In [ ]:
#Static methods: Method that dont use the self parameter(work at class level)
#decorator allow us to wrap another function in order to extend the behaviour of the wrapped function, without permanently modifying it
 eg: 

class student:
    @staticmethod   #decorator----there are different type of decorator
    def college():
        print("college")

In [216]:
class student:
    college_name="ABC"          #class attribute ---common for all objects
    def __init__(self,name1,marks1):
        self.name = name1                   #instance attribute
        self.marks = marks1
    def hello():
        print("Hello")

s1 =student("om","55")
s1.hello()

TypeError: student.hello() takes 0 positional arguments but 1 was given

In [217]:
class student:
    college_name="ABC"          #class attribute ---common for all objects
    def __init__(self,name1,marks1):
        self.name = name1                   #instance attribute
        self.marks = marks1
    @staticmethod
    def hello():
        print("Hello")

s1 =student("om","55")
s1.hello()

Hello

In [ ]:
# 4 pillar of OOPS -- Abstraction, Encapsulation, inheritance, polymorphism
# abstraction --hiding the implementation details of a class and only showing the essential features to the user 
# encapsulation -- wrapping data and function into a single unit

In [14]:
#create account class with 2 attributes - balance abd account no., creat method for debit and credit and printing balance

class account:
    def __init__(self,balance,account_no):
        self.balance = balance
        self.account_no =account_no
    def debit(self,amount):
        self.balance -= amount 
        print("Rs:",amount,"debited")
        print("balance:",self.balance)
    def credit(self,amount):
        self.balance += amount
        print("Rs:",amount,"credited")
        print("balance:",self.balance)

acc = account(500,123)

In [15]:
acc.debit(50)

Rs: 50 debited
balance: 450

In [16]:
acc.credit(65)

Rs: 65 credited
balance: 515

In [18]:
#del keyword
# private attribiute and method ----are meant to be used within the class and are not accessible from outside the class

class account:
    def __init__(self,acc_no,acc_pass):
        self.acc_no=acc_no
        self.acc_pass=acc_pass
    
acc1 = account("123","456")
print(acc1.acc_pass)

456

In [19]:

class account:
    def __init__(self,acc_no,acc_pass):
        self.acc_no=acc_no
        self.__acc_pass=acc_pass    # to make it private we add __ to the attribute
    
acc1 = account("123","456")
print(acc1.acc_pass)

AttributeError: 'account' object has no attribute 'acc_pass'

In [23]:
# we can use the private attribute wihtin the class itself for other method 
 

class account:
    def __init__(self,acc_no,acc_pass):
        self.acc_no=acc_no
        self.__acc_pass=acc_pass    # to make it private we add __ to the attribute
    def reset_pass(self):
        print(self.__acc_pass)

acc1 = account("123","456")
print(acc1.reset_pass())

456
None

In [25]:
class person:
    __name = "anonymous"  #private

p=person()
print(p.__name)

AttributeError: 'person' object has no attribute '__name'

In [26]:
class person:
    __name = "anonymous"  #private

    def __hello(self):   # private method
        print("hello")


p=person()
print(p.__hello())

AttributeError: 'person' object has no attribute '__hello'

In [31]:
class person:
    __name = "anonymous"  #private

    def __hello(self):   # private method
        print("hello")

    def welcome(self):
        self.__hello()
    

p=person()
print(p.welcome())

hello
None

In [33]:
#inheritance --- when one class (child/derived) derives properties and method of another class (parent/base)

class car:
    @staticmethod
    def start():
        print("start car")
    @staticmethod
    def sto():
        print("stop car")

class toyotacar(car):                      # Single inheritance of classs car
    def __init__(self,name):
        self.name =name

car1 = toyotacar("fortuner")
print(car1.name)
print(car1.start())

fortuner
start car
None

In [123]:
# types of inheritance --- 
# 1. Single  2. Multi level 3. Multiple


class car:
    @staticmethod
    def start():
        print("start car")
    @staticmethod
    def stop():
        print("stop car")

class toyotacar(car):                    
    def __init__(self,name):
        self.name = name
        print(self.name)



class fortuner(toyotacar):                #Multi level inheritance
    def __init__(self,type):
        self.type = type
        

class next(toyotacar):                #Multi level inheritance
    def __init__(self,type):
        self.type = type


car1 = toyotacar("fortuner")

car2 = fortuner("petrol")


# car2 = next("petrol")

# print(car2.stop())

fortuner

In [55]:
class A:
    varA = "class A"

class B:
    varB = "class B"

class C(A,B):
    varC = "class C"

c = C()

print(c.varC)
print(c.varB)
print(c.varA)

class C
class B
class A

In [62]:
# Super Method ---super() method is used to access METHODS of the parent class

class car():
    def __init__(self,type):
        self.type = type

    @staticmethod
    def start():
        print("Start")

    @staticmethod
    def stop():
        print("stop")
    
class toyota(car):
    def __init__(self,name,type):
        
        super().__init__(type)  # inheriting parent properties

        self.name=name
        
        super().start()
    

car1 = toyota("fortuner","diesel")
print(car1.type)

Start
diesel

In [68]:
# CLASS Method -- A class method is bound to the class & recieves the class as an implicit first argument.
# NOTE - static method can't access or modify class state & generally for utility

class car:
    name = "anonymous"
    
    def toyota(self,name):
        self.name =name

c1 = car()

c1.toyota("fortuner")

print(c1.name)
print(car.name)   # the parent attrobute name does not change therefore we have to ise class method

fortuner
anonymous

In [69]:
#Method 1 
class car:
    name = "anonymous"
    
    def toyota(self,name):
        car.name =name

c1 = car()

c1.toyota("fortuner")

print(c1.name)
print(car.name)

fortuner
fortuner

In [70]:
# Method 2

class car:
    name = "anonymous"
    
    def toyota(self,name):
        self.__class__.name = name   # use "self__class__" basically mean class "car"
c1 = car()

c1.toyota("fortuner")

print(c1.name)
print(car.name)

fortuner
fortuner

In [71]:
# we can is class method by using decorator

class car:
    name = "anonymous"

    @classmethod
    def toyota (classs, name):   #classs refers to parent classs not self 
        classs.name = name

c1 = car()

c1.toyota("fortuner")

print(c1.name)
print(car.name)

fortuner
fortuner

In [72]:
# so basically we have 3 types of method

# 1. static method is where we dont use any other method attributes (class or instance)

# 2. class method is used when we use class method (class)

# 3. instance method is where we only use instance attributes i.e self

In [82]:
# PROPERTY decorator

# example

class student:
    def __init__(self,phy,che,math):
        self.phy = phy
        self.che = che
        self.math = math
        self.perc = str((self.phy+self.che+self.math)/3) + "%"

s1 =student(84,78,65)
print(s1.perc)

# now if we change the marks . .percentage doe not chaneg

s1.phy = 75
print(s1.phy)
print(s1.perc)

75.66666666666667%
75
75.66666666666667%

In [83]:

class student:
    def __init__(self,phy,che,math):
        self.phy = phy
        self.che = che
        self.math = math
        
    @property                              #property decorator allows attribute to be variable based on the above variable changein marks 
    def perc(self):
        return str((self.phy+self.che+self.math)/3) + "%"

s1 =student(84,78,65)
print(s1.perc)

# now if we change the marks ..percentage doe not chaneg

s1.phy = 75
print(s1.phy)
print(s1.perc)

75.66666666666667%
75
72.66666666666667%

In [86]:
# POLYMORPHISM --- When same opertator is allowed to have different meanining according to the context

# we have diferent type of DUNDER funcation eg: __add__,__sub__ etc

class complex():
    def __init__(self,real,img):
        self.real = real
        self.img = img
    def show(self):
        print(self.real,"i +",self.img,"j")

c =complex(5,5)
c.show()

5 i + 5 j

In [91]:
class complex():
    def __init__(self,real,img):
        self.real = real
        self.img = img
    
    def __add__(self,num2):     #add #num1 and #num2
        newreal = self.real + num2.real
        newimg = self.img + num2.img
        return complex(newreal,newimg)
    
    def show(self):
        print(self.real,"i +",self.img,"j")

c1 = complex(5,5)
c1.show()

c2 = complex(3,3)
c2.show()  

add = c1 +c2    # this is possible because of Dunder function __add__
add.__add__

add.show()

5 i + 5 j
3 i + 3 j
8 i + 8 j

In [107]:
class circle():
    
    def __init__(self,r):
        self.r = r

    def area(self):
        pi = 3.14
        self.a = pi * (self.r)**2
        print("area:", self.a)

    def perimeter(self):
        pi = 3.14
        self.p=2*pi*self.r
        print("perimeter:",self.p)

In [109]:
c1= circle(5)

c1.area()
c1.perimeter()

area: 78.5
perimeter: 31.400000000000002

In [118]:
class employee:
    def __init__(self,role,department,salary):
        self.role = role
        self.department = department
        self.salary = salary

    def showdetails(self):
        print("Role:",self.role)
        print("department:",self.department)
        print("salary:",self.salary)

e1 = employee("DA","data",50000)

In [119]:
e1.showdetails()

Role: DA
department: data
salary: 50000

In [137]:
class employee:
    def __init__(self,role,department,salary):
        self.role = role
        self.department = department
        self.salary = salary

    def showdetails(self):
        print("Role:",self.role)
        print("department:",self.department)
        print("salary:",self.salary)

class engineer(employee):
    def __init__(self,role,department,salary,name,age):
        super().__init__(role,department,salary)  #initialilze the parent class
        self.name = name
        self.age = age

    def showdetails(self):
        print("Name:", self.name)
        print("Age:", self.age)
        super().showdetails()   #call parent class method

In [138]:
e1 =engineer("DA","IT",500,"om",29)

In [139]:
e1.showdetails()

Name: om
Age: 29
Role: DA
department: IT
salary: 500

In [149]:
class order():
    def __init__(self,item,price):
        self.item = item
        self.price = price
    
    def __gt__(self,item2):
        return self.price > item2.price
        
it = order("chips",10)
em = order("potato",20)

In [150]:
print(it>em)

False

In [35]:
import random

chance = 0
random_integer = random.randint(0, 10)
while chance <= 2:
    n = int(input("Guess the number between 1 to 100:"))
    
    if (n < 0 or n > 100):
        print("number out of range")
        chance+=1
        
    else:
         # Generate a random integer between 0 and 100 (inclusive)
        if (n == random_integer):
            print("You Win")
            break
            
        elif (n > random_integer):
            print("number guessed is greater than the lucky number")
            chance +=1
            
        else:
            print("number guessed is less than the lucky number")
            chance+=1

print("Lucky number was:",random_integer)

Guess the number between 1 to 100: 5

number guessed is greater than the lucky number

Guess the number between 1 to 100: 9

number guessed is greater than the lucky number

Guess the number between 1 to 100: 3

You Win
Lucky number was: 3